.hidden {
  display: none;
}

section:not(section.shown) {
  display: none;
}

@font-face {
  font-family: "IBM Plex Sans", sans-serif;
  src: url("IBM_Plex_Sans/IBMPlexSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "IBM Plex Sans", sans-serif;
  src: url("IBM_Plex_Sans/IBMPlexSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Sans", sans-serif;
  src: url("IBM_Plex_Sans/IBMPlexSans-Italic.ttf");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "IBM Plex Sans", sans-serif;
  src: url("IBM_Plex_Sans/IBMPlexSans-Light.ttf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Sans", sans-serif;
  src: url("IBM_Plex_Sans/IBMPlexSans-LightItalic.ttf");
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Sans", sans-serif;
  src: url("IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* The sidepanel menu */
.sidepanel {
  height: 100%;
  /* Specify a height */
  width: 40%;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #609c8b;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 16px 16px 16px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

#LinkToFav:hover {
  background-color: #86a383 !important;
}

#LinkToAdd:hover {
  background-color: #9dbc9a !important;
}

#LinkToWrite:hover {
  background-color: #b2d8af !important;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background: none;
  outline: none;
  box-shadow: none;
  border: none;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  /* background-color: #111; */
  color: white;
  padding: 26.5px 15px;
  border: none;
  float: left;
  background: #ca676a;
}

/* .openbtn:hover {
  background-color: #444;
} */

.header {
  background: #ca676a;
  overflow: hidden;
  width: 100%;
  display: flex;
  background-size: cover;
}

.footer {
  position: absolute;
  background: #ca676a;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  vertical-align: top;
}

.footer button {
  color: white;
  margin-left: 10%;
  margin-right: 10%;
}
